*~
\#*\#
.\#*
core
UMLPOOL
umlsetup.sh
testing/functional/*/OUTPUT
Makefile.ver
Makefile.in
*.lo
*.la
TAGS
.*
aclocal.m4
autom4te.cache/
config.*
configure
Makefile
*.sh
*.launch
compile
depcomp
install-sh
missing
stamp-h1
*-libtool
